.equipe-card {
  position: relative;
  img {
    z-index: -2;
  }
}
.equipe-nome {
  position: absolute;
  left: 0;
  bottom: 60px;
  p {
    color: $white;
    font-size: 30px;
  }
  .box-red {
    width: 110px;
    height: 110px;
    background-color: $red;
  }
}

.equipe-hidden {
  display: none;
}
