#header {
  width: 100%;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  .lang {
    display: flex;
    justify-content: end;
    gap: 5px;
    button {
      border: none;
      padding: 5px 8px;
      background-color: #fff;
      font-family: "Source Sans Pro", sans-serif !important;
      cursor: pointer;
    }
    .lang-active {
      border: 2px solid $red;
    }
  }
  .header-main {
    display: flex;
    justify-content: space-between;
    ul {
      list-style: none;
    }
  }
  .header-icons {
    display: none;
  }
}
