#home-blog {
  margin: 0 auto;
  max-width: 92.5rem;
  padding-bottom: 2rem;
  transition: 0.3s ease all;

  .blog-cards {
    display: grid;
    gap: 1rem;
    transition: 0.3s ease;

    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    min-height: 25rem;
    width: 100%;
    transition-delay: 1s;
    overflow-x: auto;
  }

  .blog-cards:hover {
    gap: 0.5rem;
    grid-template-columns: repeat(5, minmax(20rem, 1fr));
  }

  .blog-card {
    position: relative;
    display: flex;

    a {
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        width: 100%;
        background: linear-gradient(
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.67) 100%
        );
        z-index: 0;
      }
    }
    p {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      font-weight: 700;
      line-height: 120%;
      color: $white;
    }
    img {
      height: 400px;
    }
  }

  .btn {
    margin-top: 60px;
  }

  .blog-card-hidden {
    background-color: $red;
    display: none;
  }
  .blog-card {
    &:hover {
      grid-column: span 2;

      a {
        width: 50%;
      }
      
      @include responsive(s) {
        grid-column: span 2;
      }

      .blog-card-hidden {
        position: relative;
        display: block;
        padding: 45px 30px;
        font-size: 1.125rem;
        line-height: 2rem;
        color: $white;
        width: 50%;
        animation: blog-card-appear 300ms ease forwards;
      }
    }
  }
}

@keyframes blog-card-appear {
  0% {
    left: -80%;
    z-index: -1;
    opacity: 0;
  }
  99% {
    left: 0;
    opacity: 1;
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}
