.solucoes-container {
  align-items: center;
}
#solucoes {
  .secao-tit {
    text-align: left !important;
  }
  a {
    margin-top: 3.75rem;
  }
  @include responsive(s) {
    .secao-tit {
      text-align: center !important;
    }
  }
}
