@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: inherit;
  font-size: 1.125rem;
  line-height: 130%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  border: 2px solid green;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 32px 18px;
  }
}

.secao {
  padding: 120px 60px;
}
@media screen and (max-width: 960px) {
  .secao {
    padding: 120px 20px;
  }
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.txt-red {
  color: #c20000;
}

.aspas {
  font-size: 300px;
  color: #202020;
  position: absolute;
  z-index: -1;
  top: 1rem;
  left: -2rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.pagination {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #575757;
  padding: 40px;
}

#cta-email {
  background-image: url("./../img/banner_cta.webp");
  padding: 100px 60px;
}
#cta-email .cta-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#cta-email .form-base {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
#cta-email .input-box {
  position: relative;
  margin-top: 40px;
}
#cta-email label {
  color: #575757;
  position: absolute;
  top: -10px;
  left: 0px;
  pointer-events: none;
  transition: 0.3s;
  color: #202020;
}
#cta-email input,
#cta-email textarea {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid #202020;
  outline: none;
  color: #202020;
}
#cta-email input:focus ~ label,
#cta-email textarea:focus ~ label {
  top: -20px;
  font-size: 12px;
  color: #575757;
}
#cta-email input:valid ~ label,
#cta-email textarea:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: #575757;
}
#cta-email [type=submit] {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

#footer {
  padding: 120px 60px 40px 60px;
}
#footer p {
  font-size: 16px;
  line-height: 140%;
}
#footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#footer a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  color: #575757;
  font-size: 14px;
}
#footer a:hover {
  text-decoration: underline;
}
#footer .grid-4 {
  gap: 60px;
}
#footer .footer-tit {
  font-weight: 700;
  font-size: 1rem;
  line-height: 2rem;
  color: #202020;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#footer .footer-logo img {
  margin-bottom: 30px;
}
#footer .footer-dados {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #efefef;
  padding-top: 1rem;
  margin-top: 1rem;
}
#footer .footer-dados p {
  font-size: 14px;
}
#footer .footer-sociais ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 0px;
  margin-bottom: 40px;
}
#footer .footer-sociais a {
  transition: 0.3s ease;
}
#footer .footer-sociais a:hover {
  opacity: 0.5;
}

.modal-sucess {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  z-index: 1000;
  display: none;
  color: #222;
}

.modal-content {
  background-color: #fff;
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.modal-content h3 {
  font-size: 24px;
  font-weight: 700;
}

.modal-sucess.active {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

#header {
  width: 100%;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
}
#header .lang {
  display: flex;
  justify-content: end;
  gap: 5px;
}
#header .lang button {
  border: none;
  padding: 5px 8px;
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif !important;
  cursor: pointer;
}
#header .lang .lang-active {
  border: 2px solid #c20000;
}
#header .header-main {
  display: flex;
  justify-content: space-between;
}
#header .header-main ul {
  list-style: none;
}
#header .header-icons {
  display: none;
}

.hero {
  background-image: url("./../img/banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100vh;
}
.hero .hero-txt a {
  margin-top: 40px;
}

#beneficios-e-previdencias .hero {
  background-image: url("./../img/banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.75rem;
  line-height: 4.25rem;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Source Sans Pro", sans-serif;
  }
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 35px 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.125rem;
  line-height: 2.625rem;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Source Sans Pro", sans-serif;
  }
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Source Sans Pro", sans-serif;
  }
}

h4 {
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Source Sans Pro", sans-serif;
  }
}

h5 {
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Source Sans Pro", sans-serif;
  }
}

h6 {
  font-weight: 700;
  position: relative;
  z-index: 10;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
}
@media screen and (max-width: 960px) {
  h6 {
    font-family: "Source Sans Pro", sans-serif;
  }
}

p {
  font-weight: 400;
  color: #575757;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  line-height: 200%;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Source Sans Pro", sans-serif;
  }
}

a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  a {
    font-family: "Source Sans Pro", sans-serif;
  }
}

.btn {
  border: 2px solid #c20000;
  color: #202020;
  display: inline-block;
  padding: 20px 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.btn-pri {
  transition: all 0.5 ease;
}
.btn-pri:after {
  content: "➞";
  margin-left: 10px;
}
.btn-pri:hover {
  background-color: #c20000;
  color: #fff;
}
.btn-pri:hover:after {
  margin-left: 1rem;
}

.btn-sec {
  background-color: #c20000;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 1.25rem;
  transition: 0.5 ease !important;
}
.btn-sec:after {
  content: "➞";
  margin-left: 10px;
}
.btn-sec:hover {
  background-color: #202020;
  border: 2px solid #202020;
  color: #fff;
}
.btn-sec:hover:after {
  margin-left: 1rem;
}

.secao-tit {
  text-align: center;
  width: 70%;
}
.secao-tit p {
  font-size: 30px;
  line-height: 100%;
}

#cta-email {
  background-image: url("./../img/banner_cta.webp");
  padding: 100px 60px;
}
#cta-email .cta-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#cta-email .form-base {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
#cta-email .input-box {
  position: relative;
  margin-top: 40px;
}
#cta-email label {
  color: #575757;
  position: absolute;
  top: -10px;
  left: 0px;
  pointer-events: none;
  transition: 0.3s;
  color: #202020;
}
#cta-email input,
#cta-email textarea {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid #202020;
  outline: none;
  color: #202020;
}
#cta-email input:focus ~ label,
#cta-email textarea:focus ~ label {
  top: -20px;
  font-size: 12px;
  color: #575757;
}
#cta-email input:valid ~ label,
#cta-email textarea:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: #575757;
}
#cta-email [type=submit] {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

#na-midia .midia-cards {
  padding-top: 60px;
}
#na-midia .midia-cards img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
  filter: grayscale(100%);
  filter: gray;
}
#na-midia .midia-cards img:hover {
  filter: none;
}

.bg-red {
  background-color: #c20000;
  color: #fff;
}

.citacao {
  flex-direction: row;
  padding: 20px 200px;
}
.citacao img {
  max-width: 350px;
  margin-right: 40px;
}
.citacao p {
  margin-top: 40px;
  color: #fff;
}

#citacao2 {
  text-align: center;
  padding: 60px 300px;
}

.solucoes-container {
  align-items: center;
}

#solucoes .secao-tit {
  text-align: left !important;
}

.areas-cards a {
  text-decoration: none;
  color: inherit;
}
.areas-cards .areas-card {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
  padding: 150px 30px 30px 30px;
  height: 350px;
  transition: all 0.3s;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-start;
}
.areas-cards .areas-card p {
  font-size: 1.5rem;
  padding-top: 2rem;
}
.areas-cards .areas-card:hover span {
  color: #fff;
}
.areas-cards .areas-card:hover p {
  color: #fff;
}
.areas-cards .area-card1 {
  background-image: url("./../img/beneficios_prev_branco_card.webp");
  background-position: center;
}
.areas-cards .area-card1:hover {
  background-image: url("./../img/beneficios_prev_vermelho_2_card.webp");
  color: #fff;
}
.areas-cards .area-card2 {
  background-image: url("./../img/tributos_pessoais_branco_Card.webp");
  background-position: center;
}
.areas-cards .area-card2:hover {
  background-image: url("./../img/tributos_pessoais_vermelho_Card.webp");
  color: #fff;
}
.areas-cards .area-card3 {
  background-image: url("./../img/trabalho_migracao_branco_Card.webp");
  background-position: center;
}
.areas-cards .area-card3:hover {
  background-image: url("./../img/trabalho_migracao_vermelho_2_Card.webp");
  color: #fff;
}
.areas-cards .area-card4 {
  background-image: url("./../img/legalizacao_branco_card.webp");
  background-position: left;
}
.areas-cards .area-card4:hover {
  background-image: url("./../img/legalizacao_vermelho_2_card.webp");
  color: #fff;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.equipe-card {
  position: relative;
}
.equipe-card img {
  z-index: -2;
}
.equipe-card:hover .equipe-hidden {
  display: block;
}

.equipe-nome {
  position: relative;
  left: 0;
  bottom: 170px;
  transform: rotateZ(-90deg) translateY(-50%);
}
.equipe-nome p {
  color: #fff;
  font-size: 30px;
  z-index: 10;
  position: absolute;
  left: 10px;
  bottom: 50%;
  transform: translateY(50%);
}
.equipe-nome .box-red {
  width: 110px;
  height: 110px;
  background-color: #c20000;
}

.equipe-hidden {
  display: none;
}

#home-blog .blog-card {
  position: relative;
  display: flex;
}
#home-blog .blog-card::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.67) 100%);
}
#home-blog .blog-card p {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: 700;
  line-height: 120%;
  color: #fff;
}
#home-blog .btn {
  margin-top: 60px;
}
#home-blog .blog-card-hidden {
  background-color: #c20000;
  display: none;
}
#home-blog .blog-cards {
  display: grid;
  gap: 0.35em;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  height: 400px;
}
#home-blog .blog-cards:hover {
  grid-template-columns: repeat(5, 1fr);
}
#home-blog .blog-card:hover {
  grid-column: span 2;
}
#home-blog .blog-card:hover .blog-card-hidden {
  display: block;
  width: 50%;
  padding: 20px;
  color: #fff;
  -webkit-animation: show-card 0.5s forwards;
          animation: show-card 0.5s forwards;
}

@-webkit-keyframes show-card {
  from {
    transform: translate3d(-30px, 0, 0);
    opacity: 0.5;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes show-card {
  from {
    transform: translate3d(-30px, 0, 0);
    opacity: 0.5;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.equipe-nav ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.equipe-nav ul li.active {
  border: 2px solid #c20000;
}
.equipe-nav ul li.active a {
  color: #202020 !important;
  font-weight: 700;
}
.equipe-nav ul a {
  color: #575757;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.equipe-txt {
  margin-top: 40px;
}
.equipe-txt .equipe-txt-card {
  position: relative;
  height: 350px;
  overflow: hidden;
}
.equipe-txt .equipe-txt-adv {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  transition: all 0.3s;
}/*# sourceMappingURL=style.css.map */