#blog {
  .hero {
    background: none;
    padding-top: 120px;
    position: relative;

    .blog-img {
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%);
      }
    }
  }
  .hero-txt {
    text-align: right;
    padding: 60px;
    color: $white;
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    right: 0;
    h1 {
      text-align: right;
    }
    h2 {
      text-transform: capitalize;
    }
  }
}
